<div id="project"></div>

      <nav class="breadcrumb">
        <%= link_to root_path, class: "breadcrumb-item"  do %>
        <i class="fa fa-home"></i>
        <% end %>
        <%= link_to "Product",products_path,class:"breadcrumb-item"%>
        <span class="breadcrumb-item active"><%= @product.name %></span>
      </nav>

<dl class="dl-horizontal">
  <div class="banner-bootom-w3-agileits">
    <div class="container">

      <div class="col-md-4 single-right-left ">
        <div class="grid images_3_of_2">
          <div class="flexslider">

            <ul class="slides">
             <% @product.images.each do |image|%>
             <li data-thumb="<%= image.image_url %>">
              <div class="thumb-image">
               <div class="row">
                <%= image_tag image.image_url,'data-imagezoom' =>true%>
              </div>
            </div>
          </li >
          <% end if @product.images.present? %>
        </ul>

        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="col-md-8 single-right-left simpleCart_shelfItem">
    <h3><dd><%= @product.name %></dd></h3>

    <p><span class="item_price">₹<%= @product.price %></span> </p>
    <p><span class="item_price"></span> Size : <%= @product.size %> </p>
    <p><span class="item_price"> Color : <%= @product.color %></span> </p>
    <div id="cart">
      <%= form_for :order_item, url: :create_order_orders, method: :post do |f| %>
      <div class="color-quality">
        <div class="color-quality-right">
          <h5>Quantity :</h5>
          <%= f.hidden_field :item_name, value: @product.name %>
          <%= f.hidden_field :item_price, value: @product.price %>
          <%= f.select :item_quantity, options_for_select(['1', '2', '3', '4', '5']), {}, {class: "frm-field required sect"} %>
        </div>
      </div>
      <div class="occasion-cart">
        <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
          <%= f.submit "Add to Cart", class: "button" %>
        </div>
      </div>
      <% end %>
    </div>


  </div>
  <div class="clearfix"> </div>
  <!-- /new_arrivals -->
  <div class="responsive_tabs_agileits">
    <div id="horizontalTab">
      <ul class="resp-tabs-list">
        <li>Description</li>

      </ul>
      <div class="resp-tabs-container">
        <!--/tab_one-->
        <div class="tab1">

          <div class="single_page_agile_its_w3ls">

           <p><%= @product.description %></p>

         </div>
       </div>
     </div>
   </div>
 </div>
 <%= link_to t('.back', :default => t("helpers.links.back")),products_path, :class => 'btn btn-default'  %>
</dl>

<script src="js/jquery.flexslider.js"></script>
<script>
            // Can also be used with $(document).ready()
            $(window).load(function() {
              $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
              });
            });
          </script>
          <div class="container-fluid" style="margin-bottom: 20px">
            <%= render "layouts/site_related_products"%>
          </div>

